/* RESET */

html, body, section, article, h1, h2, h3, p, strong, em, a, div, ul, button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}
button {
  outline: none;
}
input:focus {
  outline: none;
}

/* SHARED */

html{
  height: 100%;
}
body {
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100%;
  min-width: 800px;
  min-height: 100%;
  background-size: 55px 55px;
  background-image: linear-gradient(to right, #333 1px, transparent 1px), linear-gradient(to bottom, #333 1px, transparent 1px);
}

ul {
  list-style-type: none; 
}


.instructions {
  bottom: 0;
  position: absolute;
  max-height: 82.5%;
  background-color: rgba(255,255,255,0.15);
  color: white;
  font-family: monospace;
  width: 20.9%;
  min-width: 250px;
  padding: 20px;
  padding-right:10px;
  z-index: -1;
}
.instructions h2 {
  text-align: center;
  font-size: 20px;
}
.instructions h4 {
  font-size: 14px;
  font-weight: normal;
}
.instructions p {
  font-size: 13px;
}
.instructions:hover{
  display:block;
}


h1 {
  position: absolute;
  top: 18px;
  text-align: center;
  width: 100%;
  margin: auto;
  color: white;
  font-family: monospace;
  font-size: 48px;
}

h3 {
  position: absolute;
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 20px;
}

#reset-text {
  font-size:22px;
  left: 12px;
  top: 20px;
}

.button {
  position: absolute;
  padding: 4px 8px;
  border: 1px solid white;
  border-radius: 2px;
  
  font-family: monospace;
  font-size: 18px;
  background-color: transparent;
  color: white;
}
.button:hover {
  cursor:pointer;
  background-color: white;
  color: black;
}

#populate {
  right: 96px;
  top: 30px;
}

#clear {
  right: 12px;
  top: 30px;
}

#reset-all {
  left: 12px;
  top: 55px;
}

#reset-ship {
  left: 72px;
  top: 55px;
}

#anti-g-text {
  right: 73px;
  top: 76px;
}
#anti-gravity {
  position: absolute;
  right: 12px;
  top: 73px;

  width: 35px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  padding: 4px 8px;
  font-family: monospace;
  font-size: 20px;
  border-radius: 3px;
}
#anti-gravity:hover {
  cursor:pointer;
  background-color: white;
}

