/* RESET */

html, body, section, article, h1, h2, h3, p, strong, em, a, div, ul, button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}
button {
  outline: none;
}
input:focus {
  outline: none;
}

/* SHARED */

html{
  height: 100%;
}
body {
  overflow: hidden;
  background-color: black;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-size: 55px 55px;
  background-image: linear-gradient(to right, #333 1px, transparent 1px), linear-gradient(to bottom, #333 1px, transparent 1px);
}

ul {
  list-style-type: none; 
}

h1 {
  position: absolute;
  top: 15px;
  text-align: center;
  width: 100%;
  margin: auto;
  color: white;
  font-family: monospace;
  font-size: 48px;
}

h3 {
  position: absolute;
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 20px;
}

#reset-text {
  font-size:22px;
  left: 12px;
  top: 20px;
}

.button {
  position: absolute;
  background-color: white;
  padding: 4px 8px;
  opacity: 0.55;
  font-family: monospace;
  font-size: 18px;
  border-radius: 3px;
}
.button:hover {
  cursor:pointer;
  background-color: white;
  opacity: 0.8;
}

#populate {
  right: 94px;
  top: 30px;
}

#clear {
  right: 12px;
  top: 30px;
}

#reset-all {
  left: 12px;
  top: 55px;
}

#reset-ship {
  left: 72px;
  top: 55px;
}

#anti-g-text {
  right: 73px;
  top: 73px;
}
#anti-gravity {
  position: absolute;
  right: 12px;
  top: 70px;

  width: 35px;
  text-align: center;
  background-color: white;
  padding: 4px 8px;
  opacity: 0.55;
  font-family: monospace;
  font-size: 20px;
  border-radius: 3px;
}
#anti-gravity:hover {
  cursor:pointer;
  background-color: white;
  opacity: 0.8;
}

